@charset "UTF-8";
body {
    text-align: center;
    color: #000000;
    background-color: #e7f1ed;
}

h1,
h2 {
    text-shadow: 3px 2px 2px #666666;
    text-align: center;
}

p {
    text-align: center;
}

#wrap {
    width: 750px;
    margin: 0 auto;
    text-align: left;
    border: solid 1px #333;
}

#wrap2 {
    width: 1500px;
    margin: 0 auto;
    text-align: center;
    border: solid 1px #333;
}

#head {
    padding: 10px;
    border-bottom: solid 1px #333;
    font-style: italic;
    text-align: center;
}

#navi {
    border-bottom: solid 1px #333;
}

.post {
    padding: 10px;
}

#foot {
    border-top: solid 1px #333;
    text-align: center;
    padding: 10px;
}

.source {
    color: #ff3333;
    border-bottom: solid 1px #333;
}